body
    &.dark
        background $font_color

        #app-header
            background $font_color
            border-color $border_color_soft
            
            .sec-right, .sec-left
                color #fff

                a, svg, p
                    color #fff
                
                svg
                    fill #fff
        

        .app-menu
            .items
                a
                    background $font_color
                    border-color $border_color_soft

                    span, p
                        color #fff
        

        .menu-option-title
            background $font_color
            color #fff
            border solid 1px $border_color_soft


        .menu-option-content
            .form-item
                textarea, input
                    background $font_color
                    border-color $border_color_soft
                    color #fff
                
                button
                    border solid 1px $border_color_soft
        

        .menu-back
            color #fff
        

        #app-footer
            color #fff

            .social
                a
                    color #fff