global-reset()

*
    box-sizing border-box

body, #app
    height 100vh

body
    background #f3f3f3
    font-family $system_font
    font-size 14px
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale
    text-rendering optimizeLegibility
    color $font_color

    input, select, textarea
        font-family $system_font
        font-size 14px

    a
        text-decoration none
        color $font_color

.app-container
    width 100%
    max-width 1170px
    margin 0px auto
    margin-top 30px